.custom.page-footer {
    font-size: 16px;
    color: #333;
    padding: 10px;
    border-top: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    border-left: 5px solid #00a4bd;
}

.footer-modification {
    display: none;
}

.pill{
    height: 25px;
    border-radius: 30px;
    background-color: #AAA;
    border: none;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}